DATABASE_URL=

BETTER_AUTH_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

AQICN_TOKEN=

GROQ_API_KEY=
GROQ_VISION_MODEL=
GROQ_RISK_MODEL=

VITE_NASA_FIRMS_MAP_KEY=

ACCOUNT_ID=
ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
BUCKET_NAME=
R2_PUBLIC_URL=
